/module.py
/main.py
/__pycache__
/.vscode
/anagrama.py
/cifra_cesar.py
/digito_da_vida.py
/iban.py
/led.py
/palindromo.py
/procurar_Letras.py
/trabalho_Charles_Rediner.py
/cifraCesar2.py
/sudoku.py
/trabalho_Charles_Rediner.zip
/contarStack.py
/teste.py
/3.4.1.12classeTime.py
/my_first_directory